# Compiled contracts
build/

lock.*

# Truffle ethpm packages (like node_modules for truffle)
installed_contracts/

# Frontend packages
node_modules/

# npm debug log
npm-debug.log

# Bundled react code with webpack
frontendBuild/reactapp.bundle.js

# Personal files for reference
notes.java
contract_object.java